<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>


    <h1>Mi sitio Astro</h1>
    <h1>About</h1>
    <p>Estoy trabajando en un tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, y  es la primera que he construido yo mismo.
    </p>

    <p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial,así que no dejes de visitarlo para ver como va mi viaje.</p>
    
  </body>
</html>