---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Página de inicio";
import windowImage from "../assets/diapo-el-frio.jpg";
---
<BaseLayout>
  <h2>Mi impresionante subtítulo del blog</h2>
</BaseLayout>

<img src={windowImage.src} alt="photo-2" />

<style>
  img{
    margin-top: 70px;
    border-radius: 7px;
    width: 100%;
  }
</style>
